
    <td><%= todo.id %></td>
    <% if todo.isCompleted %>
      <td class = "completed" style= "color:green;" id = "item<%=todo.id%>"> <%= todo.item %></td>
    <% else %>
      <td class = "uncompleted" style= "color:black;" id = "item<%=todo.id%>"><%= todo.item %></td>
    <% end %>
    <td><span class="markItem" id = "<%= todo.id%>">Mark as completed</span></td>
    <td><%= link_to 'Show', todo %></td>
    <td><%= link_to 'Edit', edit_todo_path(todo) %></td>

    <% if todo.deleted_at.nil? %>
      <td><%= link_to 'Destroy', todo, method: :delete, data: { confirm: 'Are you sure?' } , id: "delete#{todo.id}", remote: true%></td>
    <% else %>
      <td><%= link_to 'Recover', recover_todo_path(todo) , method: :put , id: "recover#{todo.id}" , remote: true%></td>
      <td><%= link_to 'Purge', purge_todo_path(todo) , method: :delete , id: "purge#{todo.id}" , remote: true%></td>
    <% end %>


