//alert('The item id is :' + <%#= @todo.id %>);

//var recover = '<%= link_to "Recover", recover_todo_path(@todo), method: :put, id: "recover#{@todo.id}", remote: true %>';
//var purge =   '<td><%= link_to "Purge", purge_todo_path(@todo), method: :delete, id: "purge#{@todo.id}", remote: true %>\n</td>';

//$('#delete<%= @todo.id %>').parent().html(recover).after(purge);


//------------------------Above Section is commented out-----------------------
swal("Good job!", "You Destroyed the Item Successfully!", "success");
$('#delete<%= @todo.id %>').closest('tr').html("<%=j render partial: 'todos/item', locals: { todo: @todo} %>");
