<h1>New Todo</h1>
<%= form_with(model: @todo, local: true) do |f| %>
  <div class="field">
    <%= f.label :item %>
    <%= f.text_field :item %>
    <br><br>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<br>
<%= link_to 'Back', todos_path %>